language: node_js
node_js:
  - 8
  - 10
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-5
      - oracle-java8-installer
before_install:
  - sudo update-java-alternatives -s java-8-oracle
  - export JAVA_HOME=/usr/lib/jvm/java-8-oracle
  - java -version
  - wget https://archive.apache.org/dist/cassandra/3.10/apache-cassandra-3.10-bin.tar.gz
  - tar -xzf apache-cassandra-3.10-bin.tar.gz
  - sudo sh apache-cassandra-3.10/bin/cassandra -R
